body{
  background-color: lightgray;
  font-family: 'Roboto' ;
}

h1{
  font-family: 'Roboto';
  color:darkblue;
}

h3{
    font-family: 'Roboto';
    color:darkblue;
  }

h2{
  font-family: 'Roboto';
  color:black;
}

h4{
  font-family: 'Roboto';
  color:black;
}

p{
  font-family: 'Roboto' ;
  color:black;
}

#map{
  margin-right: 5px;

}


